html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

header {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
}

nav {
  display: flex;
  display: wrap;
  align-items: center;
  font-size: 18px;
}

#brand-logo img {
  width: auto;
  max-height: 100px;
}

#nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

#nav-links li {
  display: inline;
  margin-right: 5rem;
  font-weight: 500;
}

#nav-links li:first-child {
  margin-left: 5rem;
}

#nav-links li a {
  text-decoration: none;
  color: black;
  position: relative;
  overflow: hidden;
}

#nav-links li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
}

#nav-links li a:hover::after {
  width: 100%;
}

#nav-links li a:active::after {
  background-color: #83d24e;
}

#buy-button {
  width: 120px;
  height: 30px;
  background-color: #83d24e;
  border: none;
  cursor: pointer;
  display: inline;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

#buy-button:hover {
  background-color: #73b845;
}

#buy-button:active {
  background-color: #639e3b;
}

#buy-button-text {
  font-size: 18px;
  color: #ebfbe1;
}

#hero-1 {
  background-position: center;
  width: auto;
  display: flex;
  display: wrap;
  padding-left: 220px;
  padding-right: 220px;
}

.column {
  flex: 1;
}
.row {
  display: flex;
  flex-direction: row;
}
#hero-pretitle {
  font-size: 32px;
  color: #83d24e;
  margin-top: 100px;
  font-weight: 400;
}

#hero-title {
  font-size: 64px;
  color: black;
  font-weight: 700;
}

#hero-subtitle {
  font-size: 24px;
  color: black;
  font-weight: 600;
}

#hero-description {
  font-size: 18px;
  color: black;
  font-weight: 400;
  text-align: right;
  margin-top: 180px;
  margin-left: 100px;
}

#hero-2 {
  margin-top: 50px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  height: 850px;
}

#hero-image {
  position: relative;
  top: -50px;
  width: fit-content;
}

#color-content {
  margin-top: 5%;
  position: absolute;
}

#color-title {
  margin-left: 0px;
  font-weight: 600;
}

#green-ellipse {
  position: relative;
  max-height: 15px;
  margin-left: 5px;
  margin-right: 5px;
}
#color-name {
  font-weight: 600;
  color: #83d24e;
}

#test-drive {
  position: relative;
  display: flex;
  margin-top: 130px;
  background-color: #83d24e;
}

#test-drive-img {
  width: 100%;
}

#text-overlay {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 70px;
}

#text-overlay {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  width: 40%;
}

#text {
  font-size: 3.5vw;
  color: white;
  font-weight: 300;
  margin-left: 7vh;
}

#text-1 {
  font-size: 3.5vw;
  color: white;
  font-weight: 600;
  font-style: italic;
  margin-left: 7vh;
}

.green-line {
  width: 3px;
  height: 13.5vw;
  background-color: #83d24e;
  margin-left: 5%;
  position: absolute;
  top: 0;
}

#test-drive-button {
  margin-left: 7vh;
  margin-top: 5vh;
  display: inline-block;
  background-color: transparent;
  border: 0.2vw solid #83d24e;
  color: white;
  text-decoration: none;
  font-size: 2vw;
  font-weight: 500;
  padding: 2vh 4vh 1vh 4vh;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

#test-drive-button:hover {
  background-color: #83d24e;
  color: #fff;
}

#test-drive-button:active {
  background-color: #639e3b;
  border-color: #639e3b;
}

#specs {
  position: absolute;
  bottom: 10%;
  right: 5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 90%;
}

.mini-section {
  margin: 0px 3vw;
}

#green-line-1 {
  width: 3vw;
  height: 0.2vw;
  background-color: #83d24e;
  margin-top: 1vh;
  margin-bottom: 2vh;
}

.white-text-a {
  font-weight: 800;
  font-size: 2vw;
  color: white;
}

.white-text-b {
  color: white;
  font-weight: normal;
  font-size: 1.2vw;
}

@media (max-width: 768px) {
  #specs {
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: none;
    padding: 20px;
    box-sizing: border-box;
    overflow-x: auto;
  }
}
