html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

header {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5%;
}

nav {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5em;
}

#brand-logo img {
  width: auto;
  max-height: 6rem;
}

#nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

#nav-links li {
  display: inline;
  margin-right: 5rem;
  font-weight: 500;
}

#nav-links li:first-child {
  margin-left: 5rem;
}

#nav-links li a {
  text-decoration: none;
  color: black;
  position: relative;
  overflow: hidden;
}

#nav-links li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
}

#nav-links li a:hover::after {
  width: 100%;
}

#nav-links li a:active::after {
  background-color: #83d24e;
}

a {
  text-decoration: none;
}

#buy-button {
  width: 12vw;
  height: 6vh;
  min-height: 60px;
  background-color: #83d24e;
  border: none;
  cursor: pointer;
  display: inline;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

#buy-button:hover {
  background-color: #73b845;
}

#buy-button:active {
  background-color: #639e3b;
}

#buy-button-text {
  font-size: 2em;
  color: #ebfbe1;
}

@media only screen and (max-width: 1024px) {
  header {
    flex-direction: row;
    height: auto;
    padding: 1rem 5%;
  }

  #nav-links {
    flex-direction: column;
    margin-top: 1rem;
    text-align: right;
    margin-right:5vw;
  }

  #nav-links li {
    display: block;
    margin: 0;
  }

  #nav-links li:first-child {
    margin-top: 1rem;
  }

  #buy-button {
    width: auto;
    margin-top: 1rem;
  }
}

#hero-1 {
  background-position: center;
  width: auto;
  display: flex;
  display: wrap;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
}

.column {
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
}

#hero-pretitle {
  font-size: 6vh;
  color: #83d24e;
  margin-top: 5vh;
  font-weight: 400;
}

#hero-title {
  font-size: 8vh;
  color: black;
  font-weight: 700;
}

#hero-subtitle {
  font-size: 4vh;
  color: black;
  font-weight: 600;
}

#hero-description {
  font-size: 3vh;
  color: black;
  font-weight: 400;
  text-align: right;
  margin-top: 20vh;
  margin-left: 5vh;
}

#hero-2 {
  margin-top: 5vh;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vh 10%;
}

#hero-2 .row {
  flex-wrap: wrap;
}

#hero-image {
  position: relative;
  margin: 0 auto;
  margin-top: 0vh;
  width: 100%; 
  max-width: 100%;
}

#hero-image img {
  width:100%;
  height:auto;
  max-width: 100%;
  max-height: 100%;
}

#color-content {
  margin-top:0vh;
  width:fit-content;
}

#color-content .row{
  justify-content: center;
  align-items: center ;
}

#color-title {
  font-size:2.5vh;
  font-weight: 600;
}

#green-ellipse {
  max-height: 3vh;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

#color-name {
  font-size: 2.5vh;
  font-weight: 600;
  color: #83d24e;
}

#test-drive {
  position: relative;
  margin-top: 20vh;
  background: url("../media/img2.png") no-repeat center center;
  background-size: cover;
  min-height:80vh;
  padding-top:5vh;
  padding-bottom: 5vh;
}

#test-drive-img {
  width: 100%;
  max-width:100%;
}

#text-overlay {
  position: relative;
  flex: 1;
  padding:5vh 5vw;
  margin-top: 3vh;
  font-style: Josefin Sans;
}

#text {
  font-size: 3.5vw;
  color: white;
  font-weight: 300;
  margin-left: 7vh;
}

#text-1 {
  font-size: 3.5vw;
  color: white;
  font-weight: 600;
  font-style: italic;
  margin-left: 7vh;
}

.green-line {
  width: 3px;
  height: 13.5vw;
  background-color: #83d24e;
  margin-left: 5%;
}

#test-drive-button {
  margin-left: 7vh;
  margin-top: 5vh;
  max-width: 10vw;
  max-height:4vh;
  display: inline-block;
  background-color: transparent;
  border: 0.2vw solid #83d24e;
  color: white;
  text-decoration: none;
  font-size: 3vh;
  font-weight: 500;
  padding: 2vh 4vh 2vh 4vh;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

@media (max-width: 1024px) {
  #test-drive-button {
  margin-left: 7vh;
  margin-top: 5vh;
  width:7vw;
  height:auto;
  display: inline-block;
  background-color: transparent;
  border: 0.2vw solid #83d24e;
  color: white;
  text-decoration: none;
  font-size: 3vh;
  font-weight: 500;
  padding: 4vh 6vh 4vh 4vh;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
}

#test-drive-button:hover {
  background-color: #83d24e;
  color: #fff;
}

#test-drive-button:active {
  background-color: #639e3b;
  border-color: #639e3b;
}

#specs {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  max-width: 90%;
  padding: 5vh;
  margin-top:10vh;
}

@media (max-width: 768px) {
  #specs {
    width: 100%;
    margin-top:25vh;
    max-width: none;
    box-sizing: border-box;
    overflow-x: auto;
  }
}

.mini-section {
  margin: 0px 3vw;
}

#green-line-1 {
  width: 3vw;
  height: 0.2vw;
  background-color: #83d24e;
  margin-top: 1vh;
  margin-bottom: 2vh;
}

.white-text-a {
  font-weight: 800;
  font-size: 2vw;
  color: white;
}

.white-text-b {
  color: white;
  font-weight: normal;
  font-size: 1.2vw;
}

.column-a {
  flex: 1;
}

#features {
  background-color: #f4f4f4;
  padding: 5% 0;
  margin-top: 20vh;
  display: flex;
}

.feature-image {
  flex: 1;
  text-align: center;
}

.feature-image img {
  max-width: 100%;
  height: auto;
}

.feature-box {
  height: 20%;
  background-color: white;
  border: 0.2vw solid #426927;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2vw 5vw;
  padding: 2vw 0vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.feature-name {
  text-align: center;
  margin-bottom: 1vw;
  font-size: 1.5vw;
  color: #83d24e;
  font-weight: bold;
}

.feature-text {
  color: #000;
  text-align: center;
  font-size: 1.5vw;
  font-weight: 300;
}

#photo-gallery {
  margin-top: 20vh;
  display: flex;
  text-align:left;
  background: url("../media/gallery-img.png") no-repeat center center;
  background-size: cover;
}

.column {
  flex: 1;
}

#gallery-img {
  width: 100%;
  height: auto;
}

#gallery-title {
  margin: 10vh 5vw 3vh 5vw;
  color: white;
  font-weight: 700;
  font-size: 4vw;
}

#gallery-button {
  height: fit-content;
  margin-top: 60vh;
  margin-right:3vw;
  margin-bottom:2vh;
  min-width: 15vw;
  background-color: transparent;
  border: 0.2vw solid #83d24e;
  color: white;
  text-decoration: none;
  font-size: 1.5vw;
  font-weight: 500;
  padding: 1.5vh 2vh 1.5vh 4vh;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

#arrow {
  margin-left: 1vw;
  width:1.5vw;
  min-width:1vw;
}

#gallery-button:hover {
  background-color: #83d24e;
  color: #fff;
}

#gallery-button:active {
  background-color: #639e3b;
  border-color: #639e3b;
}

#form {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  background-color: #83d24e;
}

#form-title {
  color: white;
  font-size: 5vw;
  font-weight: bold;
  margin: 6vw 4vw 3vw 4vw;
}

#registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#input-container {
  width: 35vw;
}

input[type="text"],
input[type="tel"] {
  font-family: "Josefin Sans", sans-serif;
  width: 40%;
  padding: 1vw;
  margin: 1vw;
  border: none;
  font-size: 1.5vw;
  background-color: #cdedb8;
  color: #426927;
}

input[type="email"] {
  position: relative;
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  padding: 1vw;
  margin: 1vw;
  border: none;
  font-size: 1.5vw;
  background-color: #cdedb8;
  color: #426927;
}

input[type="text"]::placeholder,
input[type="tel"]::placeholder,
input[type="email"]::placeholder {
  color: #7c9e65;
}

button[type="submit"] {
  width: 30%;
  padding: 0.5vw 0vw;
  margin: 3vw;
  background-color: #fff;
  color: #83d24e;
  border: 3px solid white;
  font-size: 2vw;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
}

button[type="submit"]:hover {
  background-color: transparent;
  border: 3px solid white;
  color: white;
}

#footer {
  margin-top: 20vh;
  width: 100%;
  height: fit-content;
  background-color: black;
}

.column-footer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 5vw;
}

#green-line-3 {
  height: 3px;
  width: 15vw;
  background-color: #83d24e;
  margin-left: 5%;
  margin-top: 2vh;
  margin-bottom: 2vh;
  position: relative;
}

#footer-description {
  color: white;
  font-size: 2vh;
  font-weight: 300;
  text-align: center;
}

#green-line-4 {
  width: 3px;
  height: 15vh;
  background-color: #83d24e;
  position: relative;
  margin-top: 2vh;
}

.column-footer-links {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.footer-link {
  padding: 1.2vh 1.5vw;
  color: white;
  font-weight: 200;
  font-size: 2vh;
  text-decoration: none;
  transition: font-weight 0.3s ease, color 0.3s ease;
}

.footer-link:hover {
  font-weight: 400;
}

.footer-link:active {
  color: #83d24e;
}

/* Styles for Desktop */
@media only screen and (min-width: 1025px) {
  /* probably will be the general styles I already have? */
}

/* Styles for Tablets in Landscape Orientation */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  nav {
    font-size: 1em;
  }

  #buy-button {
    width: 10vw;
    height: 5vh;
    min-height: 0px;
  }

  #buy-button-text {
    font-size: 1em;
  }
  
  #hero-pretitle {
    font-size: 4vh;
    margin-top: 0vh;
  }
  
  #hero-title {
    font-size: 6vh;
  }
  
  #hero-subtitle {
    font-size: 3vh;
  }
  
  #hero-description {
    font-size: 2vh;
    margin-top: 6vh;
  }

  #hero-2 {
    margin-top: 3vh;
  }

  #color-title {
    font-size:2vh;
  }
  
  #green-ellipse {
    max-height: 2vh;
  }
  
  #color-name {
    font-size: 2vh;
  }

  #test-drive {
    margin-top: 10vh;
  }
  
  #text-overlay {
    margin-top: 20vh;
  }
  
  #text {
    font-size: 3vw;
    margin-left:3vw;
  }
  
  #text-1 {
    font-size: 3vw;
    margin-left:3vw;
  }
  
  .green-line {
    height: 11.5vw;
  }
  
  #test-drive-button {
    margin-left: 3vw;
    margin-top: 5vh;
    max-width: 8vw;
    max-height:2vh;
    font-size: 2.5vh;
    padding: 2vh 3vh 2vh 3vh;
  }
  
  #green-line-1 {
    width: 2vw;
  }
  
  .white-text-a {
    font-size: 1.5vw;
  }
  
  .white-text-b {
    font-size: 1vw;
  }

  #features {
    margin-top: 10vh;
  }

  #photo-gallery {
    margin-top: 10vh;
  }
  
  #gallery-button {
    padding: 1.5vh 0.5vh 1.5vh 2vh;
  }
  
  #arrow {
    width:1.3vw;
  }
  
  #form {
    margin-top: 10vh;
  }
  
  #footer {
    margin-top: 10vh;
  }
  
  #green-line-3 {
    margin-left: 0%;
  }
  
  #green-line-4 {
    width: 2px;
    margin-top: 5vh;
  }
  
  .column-footer-links {
    margin-top: 5.5vh;
  }
  
  .footer-link {
    font-size: 2.5vh;
  }
}

/* Styles for Tablets in Portrait Orientation */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

/* Styles for Smartphones in Landscape Orientation */
@media only screen and (max-width: 767px) and (orientation: landscape) {
}

/* Styles for Smartphones in Portrait Orientation */
@media only screen and (max-width: 767px) and (orientation: portrait) {
}