html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

header {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5%;
}

#main-nav {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5em;
}

#brand-logo img {
  width: auto;
  max-height: 6rem;
}

#nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

#nav-links li {
  display: inline;
  margin-right: 5rem;
  font-weight: 500;
}

#nav-links li:first-child {
  margin-left: 5rem;
}

#nav-links li a {
  text-decoration: none;
  color: black;
  position: relative;
  overflow: hidden;
}

#nav-links li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
}

#nav-links li a:hover::after {
  width: 100%;
}

#nav-links li a:active::after {
  background-color: #83d24e;
}

a {
  text-decoration: none;
}

#mobile-heading {
  display: none;
}

#mobile-nav {
  display: none;
}

#buy-button {
  width: 12vw;
  height: 6vh;
  min-height: 60px;
  background-color: #83d24e;
  border: none;
  cursor: pointer;
  display: inline;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

#buy-button:hover {
  background-color: #73b845;
}

#buy-button:active {
  background-color: #639e3b;
}

#buy-button-text {
  font-size: 2em;
  color: #ebfbe1;
}

@media only screen and (max-width: 1024px) {
  header {
    flex-direction: row;
    height: auto;
    padding: 1rem 5%;
  }

  #nav-links {
    flex-direction: column;
    margin-top: 1rem;
    text-align: right;
    margin-right: 5vw;
  }

  #nav-links li {
    display: block;
    margin: 0;
  }

  #nav-links li:first-child {
    margin-top: 1rem;
  }

  #buy-button {
    width: auto;
    margin-top: 1rem;
  }
}

#hero-1 {
  background-position: center;
  width: auto;
  display: flex;
  display: wrap;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
}

.column {
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
}

.hero-pretitle {
  color: #83d24e;
  margin-top: 5vh;
  font-weight: 400;
}

.hero-title {
  color: black;
  font-weight: 700;
}

.hero-subtitle {
  margin-top: -5px;
  color: black;
  font-weight: 600;
}

.hero-description {
  color: black;
  font-weight: 400;
  text-align: right;
}

.hero-2 {
  margin-top: 5vh;
  background-color: #f4f4f4;
  display: flex;
  width:100%;
  justify-content: center;
  align-items: center;
  padding: 5vh 10%;
}

#hero-2 .row {
  flex-wrap: wrap;
}

#hero-image {
  position: relative;
  margin: 0 auto;
  margin-top: 0vh;
  width: 100%;
  max-width: 100%;
}

#hero-image img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

#color-content {
  margin-top: 0vh;
  width: fit-content;
}

#color-content .row {
  justify-content: center;
  align-items: center;
}

.color-title {
  font-weight: 600;
}

#green-ellipse {
  max-height: 3vh;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.color-name {
  font-weight: 600;
  color: #83d24e;
}

#test-drive {
  position: relative;
  margin-top: 20vh;
  background: url("../media/img2.png") no-repeat center center;
  background-size: cover;
  min-height: 80vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

#test-drive-img {
  width: 100%;
  max-width: 100%;
}

#text-overlay {
  position: relative;
  flex: 1;
  padding: 5vh 5vw;
  margin-top: 3vh;
  font-style: Josefin Sans;
}

#text {
  font-size: 3.5vw;
  color: white;
  font-weight: 300;
  margin-left: 7vh;
}

#text-1 {
  font-size: 3.5vw;
  color: white;
  font-weight: 600;
  font-style: italic;
  margin-left: 7vh;
}

.green-line {
  width: 3px;
  height: 13.5vw;
  background-color: #83d24e;
  margin-left: 5%;
}

#test-drive-button {
  margin-left: 7vh;
  margin-top: 5vh;
  max-width: 10vw;
  max-height: 4vh;
  display: inline-block;
  background-color: transparent;
  border: 0.2vw solid #83d24e;
  color: white;
  text-decoration: none;
  font-size: 3vh;
  font-weight: 500;
  padding: 2vh 4vh 2vh 4vh;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

#test-drive-button-mobile {
  display: none;
}

@media (max-width: 1024px) {
  #test-drive-button {
    margin-left: 7vh;
    margin-top: 5vh;
    width: 7vw;
    height: auto;
    display: inline-block;
    background-color: transparent;
    border: 0.2vw solid #83d24e;
    color: white;
    text-decoration: none;
    font-size: 3vh;
    font-weight: 500;
    padding: 4vh 6vh 4vh 4vh;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
}

#test-drive-button:hover {
  background-color: #83d24e;
  color: #fff;
}

#test-drive-button:active {
  background-color: #639e3b;
  border-color: #639e3b;
}

#specs {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  max-width: 90%;
  padding: 5vh;
  margin-top: 10vh;
}

@media (max-width: 768px) {
  #specs {
    width: 100%;
    margin-top: 25vh;
    max-width: none;
    box-sizing: border-box;
    overflow-x: auto;
  }
}

.mini-section {
  margin: 0px 3vw;
}

#green-line-1 {
  width: 3vw;
  height: 0.2vw;
  background-color: #83d24e;
  margin-top: 1vh;
  margin-bottom: 2vh;
}

.white-text-a {
  font-weight: 800;
  font-size: 2vw;
  color: white;
}

.white-text-b {
  color: white;
  font-weight: normal;
  font-size: 1.2vw;
}

.column-a {
  flex: 1;
}

#features {
  background-color: #f4f4f4;
  padding: 5% 0;
  margin-top: 20vh;
  display: flex;
}

.feature-image {
  flex: 1;
  text-align: center;
}

.feature-image img {
  max-width: 100%;
  height: auto;
}

.feature-box {
  height: 20%;
  background-color: white;
  border: 0.2vw solid #426927;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2vw 5vw;
  padding: 2vw 0vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.feature-name {
  text-align: center;
  margin-bottom: 1vw;
  font-size: 1.5vw;
  color: #83d24e;
  font-weight: bold;
}

.feature-text {
  color: #000;
  text-align: center;
  font-size: 1.5vw;
  font-weight: 300;
}

.row-1 {
  display: flex;
  flex-direction: row;
}

#photo-gallery {
  margin-top: 20vh;
  display: flex;
  text-align: left;
  background: url("../media/gallery-img.png") no-repeat center center;
  background-size: cover;
}

.column {
  flex: 1;
}

#gallery-img {
  width: 100%;
  height: auto;
}

#gallery-title {
  margin: 10vh 5vw 3vh 5vw;
  color: white;
  font-weight: 700;
  font-size: 4vw;
}

#gallery-button {
  height: fit-content;
  margin-top: 60vh;
  margin-right: 3vw;
  margin-bottom: 2vh;
  min-width: 15vw;
  background-color: transparent;
  border: 0.2vw solid #83d24e;
  color: white;
  text-decoration: none;
  font-size: 1.5vw;
  font-weight: 500;
  padding: 1.5vh 2vh 1.5vh 4vh;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

#arrow {
  margin-left: 1vw;
  width: 1.5vw;
  min-width: 1vw;
}

#gallery-button:hover {
  background-color: #83d24e;
  color: #fff;
}

#gallery-button:active {
  background-color: #639e3b;
  border-color: #639e3b;
}

#form {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  background-color: #83d24e;
}

#form-title {
  color: white;
  font-size: 5vw;
  font-weight: bold;
  margin: 6vw 4vw 3vw 4vw;
}

#registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#registration-form-mobile {
  display: none;
}

#input-container {
  width: 35vw;
}

#name,
#phone-number {
  font-family: "Josefin Sans", sans-serif;
  width: 40%;
  padding: 1vw;
  margin: 1vw;
  border: none;
  font-size: 1.5vw;
  background-color: #cdedb8;
  color: #426927;
}

#email {
  position: relative;
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  padding: 1vw;
  margin: 1vw;
  border: none;
  font-size: 1.5vw;
  background-color: #cdedb8;
  color: #426927;
}

#name::placeholder,
#phone-number::placeholder,
#email::placeholder {
  color: #7c9e65;
}

#register-button {
  width: 30%;
  padding: 0.5vw 0vw;
  margin: 3vw;
  background-color: #fff;
  color: #83d24e;
  border: 3px solid white;
  font-size: 2vw;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
}

register-button:hover {
  background-color: transparent;
  border: 3px solid white;
  color: white;
}

#footer {
  margin-top: 20vh;
  width: 100%;
  height: fit-content;
  background-color: black;
}

.column-footer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 5vw;
}

#green-line-3 {
  height: 3px;
  width: 15vw;
  background-color: #83d24e;
  margin-left: 5%;
  margin-top: 2vh;
  margin-bottom: 2vh;
  position: relative;
}

#footer-description {
  color: white;
  font-size: 2vh;
  font-weight: 300;
  text-align: center;
}

#green-line-4 {
  width: 3px;
  height: 15vh;
  background-color: #83d24e;
  position: relative;
  margin-top: 2vh;
}

.column-footer-links {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.footer-link {
  padding: 1.2vh 1.5vw;
  color: white;
  font-weight: 200;
  font-size: 2vh;
  text-decoration: none;
  transition: font-weight 0.3s ease, color 0.3s ease;
}

.footer-link:hover {
  font-weight: 400;
}

.footer-link:active {
  color: #83d24e;
}

/* Styles for Tablets in Landscape Orientation */
/* Use 1100 x 600 for testing */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  #main-nav {
    font-size: 1em;
  }

  #buy-button {
    width: 10vw;
    height: 5vh;
    min-height: 25px;
  }

  #buy-button-text {
    font-size: 1.2em;
  }

  #hero-pretitle {
    font-size: 2em;
    margin-top: 0vh;
  }

  #hero-title {
    font-size: 3em;
  }

  #hero-subtitle {
    font-size: 1em;
  }

  #hero-description {
    font-size: 1em;
    margin-top: 6vh;
  }

  #hero-2 {
    margin-top: 3vh;
  }

  #color-title {
    font-size: 1em;
  }

  #green-ellipse {
    max-height: 3vh;
  }

  #color-name {
    font-size: 1em;
  }

  #test-drive {
    margin-top: 10vh;
  }

  #text-overlay {
    margin-top: 20vh;
  }

  #text {
    font-size: 2em;
    margin-left: 3vw;
  }

  #text-1 {
    font-size: 2em;
    margin-left: 3vw;
  }

  .green-line {
    height: 11vw;
  }

  #test-drive-button {
    margin-left: 3vw;
    margin-top: 5vh;
    max-width: 10vw;
    max-height: 2vh;
    min-width: 50px;
    min-height: 15px;
    font-size: 1em;
    width: 9vw;
    padding: 2vh 3vh 2vh 3vh;
  }

  #green-line-1 {
    width: 2vw;
  }

  .white-text-a {
    font-size: 1em;
  }

  .white-text-b {
    font-size: 0.75em;
  }

  #features {
    margin-top: 10vh;
  }

  #photo-gallery {
    margin-top: 10vh;
  }

  #gallery-button {
    margin-top: 65%;
    padding: 1.5vh 0.5vh 1.5vh 2vh;
  }

  #arrow {
    width: 1.3vw;
  }

  #form {
    margin-top: 10vh;
  }

  #footer {
    margin-top: 10vh;
  }

  #footer-description {
    font-size: 1em;
  }

  .footer-link {
    font-size: 1em;
  }

  #green-line-3 {
    margin-left: 0%;
  }

  #green-line-4 {
    width: 2px;
    margin-top: 5vh;
  }

  .column-footer-links {
    margin-top: 5.5vh;
  }

  .footer-link {
    font-size: 2.5vh;
  }
}

/* Styles for Tablets in Portrait Orientation */
/* Use 768 x 1024 for testing */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #main-nav {
    font-size: 1.3em;
  }

  #buy-button {
    width: 12vw;
    height: 4vh;
    min-height: 15px;
  }

  #buy-button-text {
    font-size: 1.5em;
  }

  #hero-pretitle {
    font-size: 2em;
    margin-top: 2vh;
  }

  #hero-title {
    font-size: 3em;
  }

  #hero-subtitle {
    font-size: 1.3em;
  }

  #hero-description {
    font-size: 1.2em;
    margin-top: 5vh;
  }

  #hero-2 {
    margin-top: 2vh;
  }

  #color-title {
    font-size: 1em;
  }

  #green-ellipse {
    max-height: 3vh;
  }

  #color-name {
    font-size: 1em;
  }

  #test-drive {
    margin-top: 10vh;
  }

  #text-overlay {
    margin-top: 15vh;
  }

  #text {
    font-size: 3em;
    margin-left: 3vw;
  }

  #text-1 {
    font-size: 3em;
    margin-left: 3vw;
  }

  .green-line {
    height: 24vw;
  }

  #test-drive-button {
    margin-left: 3vw;
    margin-top: 3vh;
    max-width: 10vw;
    max-height: 2vh;
    min-width: 100px;
    min-height: 15px;
    font-size: 1em;
    width: 10vw;
    padding: 2vh 3vh 2vh 3vh;
  }

  #green-line-1 {
    width: 5vw;
  }

  .white-text-a {
    font-size: 1.5em;
  }

  .white-text-b {
    font-size: 1em;
  }

  #features {
    margin-top: 10vh;
    height: 60vh;
  }

  .feature-image img {
    margin-top: 30%;
  }

  .feature-box {
    height: 25%;
    margin: 2vw 5vw;
    padding: 2vw 0vw;
  }

  .feature-name {
    font-size: 2vh;
  }

  .feature-text {
    font-size: 1.5vh;
  }

  #photo-gallery {
    margin-top: 10vh;
  }

  .row-1 {
    display: flex;
    flex-direction: column;
  }

  #gallery-img {
    width: 100%;
    height: auto;
  }

  #gallery-title {
    margin: 8vh 5vw 3vh 5vw;
    font-size: 6vw;
  }

  #gallery-button {
    height: fit-content;
    margin-top: 50vh;
    margin-left: 10%;
    margin-bottom: 5vh;
    min-width: 15vw;
    font-size: 1.5vw;
    font-weight: 500;
    padding: 1.5vh 2vh 1.5vh 4vh;
  }

  #form {
    margin-top: 10vh;
    width: 100%;
  }

  #form-title {
    font-size: 7vw;
    margin: 5vh 3vw 5vh 4vw;
  }

  #registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #input-container {
    width: 35vw;
  }

  input[type="text"],
  input[type="tel"] {
    width: 100%;
    padding: 1vw;
    margin: 1vw;
    font-size: 1.5vw;
  }

  input[type="email"] {
    position: relative;
    font-family: "Josefin Sans", sans-serif;
    width: 100%;
    padding: 1vw;
    margin: 1vw;
    border: none;
    font-size: 1.5vw;
    background-color: #cdedb8;
    color: #426927;
  }

  button[type="submit"] {
    width: 40%;
    margin: 5vh 3vw 5vh 4vw;
    font-size: 2.5vw;
  }

  #footer {
    margin-top: 10vh;
  }

  #green-line-3 {
    width: 20vw;
  }

  #footer-description {
    margin-left: 3vw;
    text-align: left;
    font-size: 2.5vh;
  }

  #green-line-4 {
    height: 15vh;
    margin-top: 5vh;
  }

  .column-footer-links {
    margin-top: 6vh;
    margin-bottom: 3vh;
    margin-left: 1vw;
  }
}

/* Styles for Smartphones */
@media only screen and (max-width: 767px) {
  header {
    display: flex;
    padding: 5% 5%;
    flex-direction: column;
    text-align: center;
  }

  #main-nav {
    display: none;
  }

  #brand-logo img {
    width: auto;
  }

  #mobile-heading {
    display: flex;
    margin: 5%;
    font-size: 1em;
    color: #73b845;
  }

  #mobile-nav {
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    width: 100%;
  }

  #nav-links-mobile {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
  }

  #nav-links-mobile li {
    display: inline;
    margin: 5%;
    font-weight: 500;
    font-size: large;
  }

  #nav-links-mobile li a {
    text-decoration: none;
    color: black;
    position: relative;
    overflow: hidden;
  }

  #nav-links-mobile li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease;
  }

  #nav-links-mobile li a:hover::after {
    width: 100%;
  }

  #nav-links-mobile li a:active::after {
    background-color: #83d24e;
  }

  a {
    text-decoration: none;
  }

  #buy-button {
    width: 35vw;
    padding: 1vh 2vw;
    height: fit-content;
    min-height: 0px;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
  }

  #buy-button:hover {
    background-color: #73b845;
  }

  #buy-button:active {
    background-color: #639e3b;
  }

  #buy-button-text {
    font-size: 1.5em;
    color: #ebfbe1;
  }

  .hero-1 {
    padding-top: 3%;
    display:block;
    text-align: center;
  }

  .hero-pretitle {
    margin-top: 3vh;
    text-align:center;
  }

  .hero-title {
    text-align:center;
  }

  .hero-subtitle {
    text-align:center;
  }

  .hero-description {
    margin-top: 3vh;
    text-align:center;
  }

  #color-title {
    font-size: 1.5vh;
  }

  #green-ellipse {
    max-height: 1.5vh;
  }

  #color-name {
    font-size: 1.5vh;
  }

  #test-drive {
    margin-top: 10vh;
  }

  #text-overlay {
    margin-top: 10vh;
  }

  #text {
    margin-left: 3vw;
  }

  #text-1 {
    margin-left: 3vw;
  }

  #test-drive-button {
    display: none;
  }

  #test-drive-button-mobile {
    margin-top: 5vh;
    font-family: Josefin Sans;
    display: inline-block;
    background-color: transparent;
    border: 2px solid #83d24e;
    color: white;
    text-decoration: none;
    font-size: 2vh;
    font-weight: 500;
    padding: 1vh 3vw;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }

  #test-drive-button-mobile:hover {
    background-color: #83d24e;
    color: #fff;
  }

  #test-drive-button-mobile:active {
    background-color: #639e3b;
    border-color: #639e3b;
  }

  #test-drive-button-text {
    color: white;
  }

  #specs {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 5vh;
    margin-top: 25vh;
    overflow-x: auto;
  }

  .mini-section {
    margin: 0px 3vw;
  }

  #green-line-1 {
    width: 6vw;
    height: 2px;
  }

  .white-text-a {
    font-size: 1em;
  }

  .white-text-b {
    font-size: 0.5em;
  }

  #features {
    margin-top: 10vh;
    min-height: 75vh;
    padding-top:15%;
  }

  .feature-image img {
    margin-top: 50%;
  }

  .feature-box {
    height: 25%;
  }

  .feature-name {
    font-size: 0.8em;
  }

  .feature-text {
    font-size: 0.7em;
  }

  .row-1 {
    display: flex;
    flex-direction: column;
  }

  #photo-gallery {
    margin-top: 10vh;
  }

  #gallery-button {
    margin-top: 100%;
    margin-left: 0%;
    font-size: 1em;
    padding:3%;
    font-family: Josefin Sans;
  }

  #form {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #form-title {
    font-size: 4em;
  }

  #registration-form {
    display: none;
  }

  #registration-form-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #input-container-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #name-mobile,
  #phone-number-mobile,
  #email-mobile {
    font-family: "Josefin Sans", sans-serif;
    width: 50%;
    height: 4vh;
    padding: 1vw;
    margin: 1vw;
    border: none;
    font-size: 1.5vw;
    background-color: #cdedb8;
    color: #426927;
    margin: 2vh 0;
    font-size: 1.5em;
  }

  #register-button-mobile {
    width: fit-content;
    padding: 1vh 3vw;
    margin: 5vw;
    background-color: #fff;
    color: #83d24e;
    border: 3px solid white;
    font-size: 2em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 600;
    font-family: "Josefin Sans", sans-serif;
  }

  register-button-mobile:hover {
    background-color: transparent;
    border: 3px solid white;
    color: white;
  }

  #footer {
    margin-top: 10vh;
  }

  #green-line-4 {
    display: none;
  }

  .column-footer-links {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 50%;
  }
}

#mascot-container {
  position: fixed;
  right: 0;
  bottom: -350px;
  z-index: 999;
  animation: jump 5s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

#mascot-image {
  width: 300px;
  z-index: 999;
  opacity: 1;
}

@keyframes jump {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -400px, 0);
  }
}

#dialog-box {
  display: none;
  position: absolute;
  padding: 10px 20px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: white;
  background-color: #639e3b;
  font-size: 1em;
}

#mascot-container:hover #dialog-box {
  display: block;
  top: -30px;
  left: -calc(100%);
}